<div class="page-wrapper">

    <!-- START HEADER-->
    <header class="header clf" app-header></header>

    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    <nav class="page-sidebar" id="sidebar" app-sidebar></nav>
    <!-- END SIDEBAR-->

    <div class="wrapper content-wrapper">
    	<!-- START PAGE CONTENT-->
        <!--<router-outlet></router-outlet>-->

        <div class="page-content">
          <div class="row">
            <div class="col-lg-8">
              <router-outlet></router-outlet>
            </div>
            <div class="col-lg-4">
              <div class="ibox">
                <div class="ibox-head">
                  <div class="ibox-title">Waiting List</div>
                  <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
                  </div>
                </div>
                <div class="ibox-body">
                  <ul class="media-list media-list-divider m-0">
                    <li class="media"><a class="media-img" href="javascript:;"></a>
                      <div class="media-body">
                        <div class="media-heading">John Doe</div>
                      </div>
                    </li>
                    <li class="media"><a class="media-img" href="javascript:;"></a>
                      <div class="media-body">
                        <div class="media-heading">Jane Doe</div>
                      </div>
                    </li><li class="media"><a class="media-img" href="javascript:;"></a>
                      <div class="media-body">
                        <div class="media-heading">Mark James</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>













    	<!-- END PAGE CONTENT-->

      <footer class="page-footer" app-footer></footer>
    </div>

</div>

<!-- START SEARCH PANEL-->
<form class="search-top-bar" action="search.html">
  <input class="search-input" type="text" placeholder="Search...">
  <button class="reset input-search-icon"><i class="fa fa-search"></i></button>
  <button class="reset input-search-close" type="button" (click)='this.UIService.closeSearch()'><i class="ti-close"></i></button>
</form>
<!-- END SEARCH PANEL-->

<!-- BEGIN THEME CONFIG PANEL-->
<div class="theme-config" app-theme-config></div>
<!-- END THEME CONFIG PANEL-->

<!-- Session-timeout modal-->
<div class="modal fade" id="session-dialog" session-modal></div>
<!-- End Session-timeout modal-->

<div class="sidenav-backdrop backdrop" (click)='this.UIService.hideBackdrop()'></div>

<div class="to-top" (click)='this.UIService.toTop()'><i class="fa fa-angle-double-up"></i></div>
