
<div class="ibox fade-in-up">
  <div class="ibox-head">
    <div class="ibox-title">Edit Database</div>
  </div>
  <div class="ibox-body">
    <table
          	data-classes="table table-hover"
            data-toggle="table"
            data-striped="true"
            data-pagination="true"
            data-page-size="5"
            data-search="true"

     id="example-table">
      <thead>
        <tr>
          <th>Request no.</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Issue Type</th>
          <th>Issue Description</th>
          <th>Comments</th>
          <th>Update Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>101</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>102</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>103</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>104</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>105</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>106</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>107</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>108</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>109</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>110</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>111</td>
          <td>Abc Pqr</td>
          <td>9877665544</td>
          <td>Kothrud, Pune</td>
          <td>Social</td>
          <td>Need Public Library for senior citizen and students</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
