<div class="content">
  <div class="brand"><a class="link" routerLink="/index">AdminCa</a></div>
  <div class="ibox">
    <div class="lock-header m-b-20">Locked screen</div>
    <div class="ibox-body">
      <div class="row">
        <div class="col-4"><img class="img-circle" src="./assets/img/users/u3.jpg" width="110px"/>
        </div>
        <form class="col-8" id="lock-form" action="" method="post">
          <h5 class="font-strong m-b-10">James Brown</h5>
          <p class="font-13">Your are in lock screen. Enter your password to retrieve your session</p>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="******">
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-block" type="submit"><i class="ti-unlock m-r-5"></i>Unlock</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="font-13 text-center text-white m-t-10 m-b-10">AdminCa. Save your time. Choose the best © 2017</div>
</div>
