<div class="page-heading">
  <h1 class="page-title">Search results</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Search results</li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="card border-0 m-b-20">
    <div class="card-body">
      <h3 class="m-t-5">1,780 results found for: <span class="text-info">“AdminCa Theme”</span></h3><small class="text-muted">About 1,370 result ( 0.13 seconds)</small>
      <div class="input-group m-t-10">
        <div class="input-group-btn">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Everything <i class="fa fa-angle-down"></i></button>
          <ul class="dropdown-menu"><a class="dropdown-item active d-flex justify-content-between align-items-center" href="javascript:;"> Everything<i class="ti-check"></i></a><a class="dropdown-item" href="javascript:;">Posts</a><a class="dropdown-item" href="javascript:;">Users</a></ul>
        </div>
        <input class="form-control" type="text" placeholder="Search for...">
        <div class="input-group-btn">
          <button class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox search-results">
    <div class="ibox-body">
      <div class="search-result">
        <h5><a class="link-blue">Adminca: Perfect Programming</a></h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        <div class="text-muted"><span class="badge badge-danger">Laravel</span> • <span>OCT 25, 2018</span></div>
      </div>
      <div class="search-result">
        <h5><a class="link-blue">Adminca: Perfect Programming</a></h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
        <div class="text-muted"><span class="badge badge-danger bg-purple">PHP</span> • <span>OCT 25, 2018</span></div>
      </div>
      <div class="search-result">
        <h5><a class="link-blue">Adminca: Perfect Programming</a></h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...</p>
        <div class="text-muted"><span class="badge badge-success">VUE</span> • <span>OCT 25, 2018</span></div>
      </div>
      <div class="search-result">
        <h5><a class="link-blue">Adminca: Perfect Programming</a></h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
        <div class="text-muted"><span class="badge badge-info">React</span> • <span>OCT 25, 2018</span></div>
      </div>
      <div class="search-result">
        <h5><a class="link-blue">Adminca: Perfect Programming</a></h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
        <div class="text-muted"><span class="badge badge-danger bg-purple">Bootstrap</span> • <span>OCT 25, 2018</span></div>
      </div>
      <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="javascript:;" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
        <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:;">4</a></li>
        <li class="page-item"><a class="page-link" href="javascript:;">5</a></li>
        <li class="page-item"><a class="page-link" href="javascript:;" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
