<div class="row dashboard-header">
  <div class="col-lg-12">
    <div class="d-flex m-b-20 justify-content-between">
      <div class="d-flex">
        <div class="m-l-20" style="margin-right: 40px;">
          <div><span class="h2 m-r-5">49<sup>%</sup></span><span class="text-success"><i class="fa fa-level-up"></i> 35%</span></div>
          <div class="text-muted">Data Example</div>
        </div>
        <div style="margin-right: 40px;">
          <div><span class="h2 m-r-5">74<sup>%</sup></span><span class="text-danger"><i class="fa fa-level-down"></i> -12%</span></div>
          <div class="text-muted">Data Example</div>
        </div>
        <div>
          <div><span class="h2 m-r-5">$950<sup>.60</sup></span><span class="text-success"><i class="fa fa-level-up"></i> 15%</span></div>
          <div class="text-muted">Data Example</div>
        </div>
      </div>
      <div class="d-lg-flex align-items-center d-none m-r-20">
        <div>
          <div class="h2 m-0">$950<sup>.60</sup></div>
          <div class="text-muted">Data Example</div>
        </div><span class="m-l-5" id="spark_bar_big">4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7</span>
      </div>
    </div>
    <div>
      <canvas id="line_chart" style="height:220px;"></canvas>
    </div>
    <div class="row m-t-20 header-charts-row">
      <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;">
        <div class="easyPieChart ease-pie" data-percent="73" data-bar-color="#18C5A9"><span>73</span>%</div>
        <div class="text-center p-t-10">
          <h3 class="m-0 stat-count">47<sup>%</sup></h3>
          <div class="text-muted">Data Example</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;">
        <div class="easyPieChart ease-pie" data-percent="56" data-bar-color="#18C5A9"><span>56</span>%</div>
        <div class="text-center p-t-10">
          <h3 class="m-0">124</h3>
          <div class="text-muted">Data Example</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;">
        <div class="easyPieChart ease-pie" data-percent="45" data-bar-color="#18C5A9"><span>45</span>%</div>
        <div class="text-center p-t-10">
          <h3 class="m-0 stat-count">$ 1.200<sup>.60</sup></h3>
          <div class="text-muted">Data Example</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center p-t-10 p-b-10">
        <div class="easyPieChart ease-pie" data-percent="24" data-bar-color="#18C5A9"><span>24</span>%</div>
        <div class="text-center p-t-10">
          <h3 class="m-0">124</h3>
          <div class="text-muted">Data Example</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-content fade-in-up">
  <div class="ibox">
    <div class="ibox-body">
      <div class="d-flex justify-content-between m-b-20">
        <div>
          <h3 class="m-0">Latest orders</h3>
          <div>Lorem ipsum set enum afoprite</div>
        </div>
        <div class="rel">
          <button class="btn btn-default btn-sm mr-2"><i class="ti-download font-14"></i></button>
          <button class="btn btn-default btn-sm mr-2"><i class="ti-printer font-4"></i></button>
          <button class="btn btn-default btn-sm mr-3"><i class="fa fa-line-chart font-14"></i> Create Report</button><span class="rel"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-settings font-16"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"> <i class="ti-pencil-alt m-r-10"></i>Edit</a><a class="dropdown-item"> <i class="ti-close m-r-10"></i>Remove</a></div></span>
        </div>
      </div>
      <div class="ibox-fullwidth-block">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="p-l-20">Order ID</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Status</th>
              <th class="p-r-20" width="91px">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-l-20">1422</td>
              <td>@Jack</td>
              <td>$564.00</td>
              <td><span class="badge badge-success">Shipped</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">1436</td>
              <td>@Amalia</td>
              <td>$220.60</td>
              <td><span class="badge badge-success">Shipped</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">1437</td>
              <td>@Emma</td>
              <td>$760.00</td>
              <td><span class="badge badge-default">Pending</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">2547</td>
              <td>@James</td>
              <td>$87.60</td>
              <td><span class="badge badge-warning">Expired</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">2754</td>
              <td>@Ava</td>
              <td>$430.50</td>
              <td><span class="badge badge-default">Pending</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">3114</td>
              <td>@Noah</td>
              <td>$64.00</td>
              <td><span class="badge badge-success">Shipped</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">3354</td>
              <td>@Frank</td>
              <td>$120.50</td>
              <td><span class="badge badge-warning">Expired</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
            <tr>
              <td class="p-l-20">3725</td>
              <td>@Bob</td>
              <td>$87.00</td>
              <td><span class="badge badge-success">Shipped</span></td>
              <td class="p-r-20">10/07/2017</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="ibox-footer text-center"><a href="javascript:;">View All</a></div>
  </div>
</div>
