<div class="ibox fade-in-up">
  <div class="ibox-head">
    <div class="ibox-title">Visitor Details</div>
  </div>
  <div class="ibox-body">
    <form>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label>First Name</label>
          <input class="form-control" type="text" placeholder="First Name">
        </div>
        <div class="col-sm-6 form-group">
          <label>Last Name</label>
          <input class="form-control" type="text" placeholder="First Name">
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" placeholder="Email address">
      </div>
      <div class="form-group">
        <label>Contact</label>
        <input class="form-control" type="number" placeholder="Contact number">
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea class="form-control" rows="3" placeholder="Address"></textarea>
      </div>
      <div class="form-group">
        <label>Type of Request</label>
        <select class="form-control">
          <option value="">Personal</option>
          <option value="">Social</option>
          <option value="">Development</option>
          <option value="">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label>Request Description</label>
        <textarea class="form-control" rows="5" placeholder="Description"></textarea>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#session-dialog">
          Attach Documents
        </button>
      </div>



      <div class="form-group">
        <label class="ui-checkbox">
          <input type="checkbox"><span class="input-span"></span>Add to the waiting queue
        </label>
      </div>

      <div class="form-group">
        <label>Do you have below documents?</label>
        <div class="m-b-10">
          <label class="ui-checkbox ui-checkbox-inline">
            <input type="checkbox"><span class="input-span"></span>AADHAR
          </label>
          <label class="ui-checkbox ui-checkbox-inline">
            <input type="checkbox"><span class="input-span"></span>PAN Card
          </label>
          <label class="ui-checkbox ui-checkbox-inline">
            <input type="checkbox"><span class="input-span"></span>Voter ID Card
          </label>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-default" type="submit">Cancel</button>
      </div>
    </form>
  </div>
</div>
