<div class="content">
  <h1 class="m-t-20">500</h1>
  <p class="error-title">Internal Server Error</p>
  <p class="m-b-20">We're sorry, but the server was unable to complete your request. You can <a routerLink="/index" class="text-success">Go homepage</a> or try the search bar below.</p>
  <form>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for page">
      <div class="input-group-btn">
        <button class="btn btn-success" type="button">Search</button>
      </div>
    </div>
  </form>
</div>
