<div class="page-brand"><a class="link" routerLink=""><span class="brand">Admin<span class="brand-tip"> Portal</span></span><span class="brand-mini">AP</span></a></div>
<!-- START TOP-LEFT TOOLBAR-->
<ul class="nav pull-left navbar-toolbar">
  <li><a class="nav-link sidebar-toggler js-sidebar-toggler" (click)='this.UIService.toggleSidebar()'><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></li>
  <li><a class="nav-link"><span>-BANNER LOGO-</span></a></li>
</ul>
<!-- END TOP-LEFT TOOLBAR-->
<!-- START TOP-RIGHT TOOLBAR-->
<ul class="nav pull-right navbar-toolbar">
  <li class="timeout-toggler"><a class="nav-link" data-toggle="modal" data-target="#session-dialog"><i class="fa fa-android timeout-toggler-icon rel"><span class="notify-signal"></span></i></a></li>

  <li class="dropdown dropdown-user"><a class="nav-link dropdown-toggle link" data-toggle="dropdown"><span>Admin</span><img src="http://demo.neontheme.com/assets/images/thumb-1@2x.png"></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="login.html"><i class="ti-power-off"></i>Logout</a>
    </ul>
  </li>
</ul>
<!-- END TOP-RIGHT TOOLBAR-->
