<div class="page-heading">
  <h1 class="page-title">Blog</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Blog</li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <form>
    <div class="row m-b-20 bg-white" style="padding:15px 0;">
      <div class="col-sm-6">
        <label class="form-group form-inline">
          <div class="input-group"><span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
            <input class="form-control" id="daterange" type="text">
          </div>
        </label>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 ml-sm-auto">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search post">
          <div class="input-group-btn">
            <button class="btn btn-info" type="search">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-4">
      <div class="ibox blog"><img src="./assets/img/blog/storm.jpg"/>
        <div class="ibox-body">
          <h3 class="blog-title"><a class="link-blue" href="article.html">Perfect Programming</a></h3>
          <p class="text-muted font-13">2 days ago</p>
          <p> Nisi officia deserunt exercitation velit reprehenderit esse reprehenderit ex nulla proident quis culpa aute laboris est est aliquip in occaecat nostrud sed reprehenderit eu ullamco eu dolor amet aute duis sunt ipsum non ut mollit in pariatur commodo incididunt excepteur labore nisi laboris esse veniam velit dolor sunt ipsum irure dolor aute anim mollit ut sit quis elit laborum aliqua duis reprehenderit cillum mollit sed magna incididunt consectetur non velit 
          </p>
          <div class="font-13"><span class="text-lighter hover-lighter"><i class="fa fa-thumbs-up mr-1"></i> 124</span><span class="text-lighter hover-lighter ml-4"><i class="fa fa-comment mr-1"></i> 56</span></div>
        </div>
      </div>
      <div class="ibox blog"><img src="./assets/img/blog/horse.jpg"/>
        <div class="ibox-body">
          <h3 class="blog-title"><a class="link-blue" href="article.html">Perfect Programming</a></h3>
          <p class="text-muted font-13">5 days ago</p>
          <p>Culpa pariatur occaecat consectetur anim elit sed cupidatat ea do aliquip ex aliquip ex in aliqua quis dolor dolore sit pariatur ullamco et id anim anim officia excepteur culpa consectetur nulla laboris eiusmod dolor anim ut mollit id sit amet laboris laborum aliquip anim do fugiat labore aliquip enim magna 
          </p>
          <div class="font-13"><span class="text-lighter hover-lighter"><i class="fa fa-thumbs-up mr-1"></i> 124</span><span class="text-lighter hover-lighter ml-4"><i class="fa fa-comment mr-1"></i> 56</span></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox blog"><img src="./assets/img/blog/seascape.jpg"/>
        <div class="ibox-body">
          <h3 class="blog-title"><a class="link-blue" href="article.html">Perfect Programming</a></h3>
          <p class="text-muted font-13">7 hrs ago</p>
          <p>Officia elit ut laborum sit sit adipiscing excepteur irure ipsum deserunt ex quis mollit ex minim sunt amet amet et sed ut ullamco id laboris velit id cillum irure sed cupidatat nulla enim aliqua nisi sunt aliquip nostrud sunt ipsum magna pariatur eu esse sunt ipsum lorem ut irure aliquip esse lorem quis dolore aliqua minim ad non occaecat fugiat 
          </p>
          <div class="font-13"><span class="text-lighter hover-lighter"><i class="fa fa-thumbs-up mr-1"></i> 124</span><span class="text-lighter hover-lighter ml-4"><i class="fa fa-comment mr-1"></i> 56</span></div>
        </div>
      </div>
      <div class="ibox blog"><img src="./assets/img/blog/magnifying-glass.jpg"/>
        <div class="ibox-body">
          <h3 class="blog-title"><a class="link-blue" href="article.html">Perfect Programming</a></h3>
          <p class="text-muted font-13">8 days ago</p>
          <p>Fugiat labore sed sit culpa id deserunt voluptate fugiat quis ad aliquip ipsum duis ipsum voluptate minim culpa ut do duis id lorem aliquip minim pariatur velit sed dolore aliqua ut voluptate ipsum pariatur labore ullamco ea fugiat sint in veniam consectetur ad et quis culpa consectetur ullamco occaecat incididunt 
          </p>
          <div class="font-13"><span class="text-lighter hover-lighter"><i class="fa fa-thumbs-up mr-1"></i> 124</span><span class="text-lighter hover-lighter ml-4"><i class="fa fa-comment mr-1"></i> 56</span></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox blog"><img src="./assets/img/blog/macarons.jpg"/>
        <div class="ibox-body">
          <h3 class="blog-title"><a class="link-blue" href="article.html">Perfect Programming</a></h3>
          <p class="text-muted font-13 ibox-title">12/11/2017</p>
          <p>Labore irure esse proident aute dolore excepteur deserunt aliqua enim dolore laborum dolore adipiscing ut nostrud lorem ad dolore et irure sit sint ut enim dolore eiusmod nulla nostrud reprehenderit exercitation id laborum veniam id reprehenderit in sint ut mollit ipsum eiusmod nisi do sint in deserunt non ut excepteur commodo ullamco ad lorem cillum minim non laborum anim ea non ipsum ea occaecat in dolore anim in in officia 
          </p>
          <div class="font-13"><span class="text-lighter hover-lighter"><i class="fa fa-thumbs-up mr-1"></i> 124</span><span class="text-lighter hover-lighter ml-4"><i class="fa fa-comment mr-1"></i> 56</span></div>
        </div>
      </div>
      <div class="ibox blog"><img src="./assets/img/blog/candles.jpg"/>
        <div class="ibox-body">
          <h3 class="blog-title"><a class="link-blue" href="article.html">Perfect Programming</a></h3>
          <p class="text-muted font-13 ibox-title">9 days ago</p>
          <p>Et exercitation nisi qui nostrud officia ullamco proident dolore dolor consectetur laborum ut exercitation enim laboris et dolor labore est consequat reprehenderit nulla irure incididunt non amet dolor tempor labore aliquip laborum aliquip laborum dolor velit eiusmod cupidatat labore amet anim minim elit elit proident proident elit ut aute cupidatat sed est in et est 
          </p>
          <div class="font-13"><span class="text-lighter hover-lighter"><i class="fa fa-thumbs-up mr-1"></i> 124</span><span class="text-lighter hover-lighter ml-4"><i class="fa fa-comment mr-1"></i> 56</span></div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .blog .blog-title {margin-top:0; margin-bottom:5px; font-size:20px; font-weight:500}
    
  </style>
</div>
