<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Waiting List</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"></a>
              <div class="media-body">
                <div class="media-heading">John Doe</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"></a>
              <div class="media-body">
                <div class="media-heading">Jane Doe</div>
              </div>
            </li><li class="media"><a class="media-img" href="javascript:;"></a>
              <div class="media-body">
                <div class="media-heading">Mark James</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
