<div class="page-heading">
  <h1 class="page-title">Widgets</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Widgets</li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title m-0">Widget title</div>
        </div>
        <div style="background-color:#f3f6fb;">
          <canvas id="chart_1" style="height:100px;"></canvas>
        </div>
        <div class="card-body h3 d-flex justify-content-between m-0"><span>$250</span><i class="ti-stats-up text-success"></i></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title m-0">Widget title</div>
        </div>
        <div style="background-color:#f3f6fb;">
          <canvas id="chart_2" style="height:100px;"></canvas>
        </div>
        <div class="card-body h3 d-flex justify-content-between m-0"><span>$74</span><i class="ti-stats-down text-warning"></i></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title m-0">Widget title</div>
        </div>
        <div style="background-color:#f3f6fb;">
          <canvas id="chart_3" style="height:100px;"></canvas>
        </div>
        <div class="card-body h3 d-flex justify-content-between m-0"><span>14%</span><i class="ti-stats-down text-danger"></i></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <div class="card-title m-0">Widget title</div>
        </div>
        <div style="background-color:#f3f6fb;">
          <canvas id="chart_4" style="height:100px;"></canvas>
        </div>
        <div class="card-body h3 d-flex justify-content-between m-0"><span>68%</span><i class="ti-stats-up text-success"></i></div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="m-b-5">$250 <i class="ti-stats-up text-success float-right"></i></h2>
          <div class="text-muted">MONTH INCOME</div>
        </div>
        <div id="spark_1">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="m-b-5">$250 <i class="ti-stats-down text-danger float-right"></i></h2>
          <div class="text-muted">MONTH INCOME</div>
        </div>
        <div id="spark_2">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="m-b-5">$250 <i class="ti-stats-up text-success float-right"></i></h2>
          <div class="text-muted">MONTH INCOME</div>
        </div>
        <div id="spark_3">Loading...</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="m-b-5">$250 <i class="ti-stats-down text-warning float-right"></i></h2>
          <div class="text-muted">MONTH INCOME</div>
        </div>
        <div id="spark_4">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-green">
        <div class="card-body">
          <h2 class="text-white m-b-5">510 <i class="ti-shopping-cart float-right"></i></h2>
          <div>MONTH ORDERS</div>
          <div class="text-white m-t-5"><i class="ti-stats-up m-r-5"></i><small>25% higher than last month</small></div>
        </div>
        <div class="progress m-b-10 widget-dark-progress">
          <div class="progress-bar" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-purple">
        <div class="card-body">
          <h2 class="text-white m-b-5">$2400 <i class="la la-money float-right"></i></h2>
          <div>MONTH INCOME</div>
          <div class="text-white m-t-5"><span>IOS</span><span class="m-l-10"><i class="fa fa-caret-up text-success"></i> 14%</span><span class="m-l-20">MAC</span><span class="m-l-10"><i class="fa fa-caret-down text-danger"></i> 9%</span></div>
        </div>
        <div class="progress m-b-10 widget-dark-progress">
          <div class="progress-bar" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-red">
        <div class="card-body">
          <h2 class="text-white m-b-5">510 <i class="ti-user float-right"></i></h2>
          <div>NEW USERS</div>
          <div class="text-white m-t-5"><span class="badge m-r-5 widget-dark-badge">43%</span><small>Higher</small></div>
        </div>
        <div class="progress m-b-10 widget-dark-progress">
          <div class="progress-bar" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-silver">
        <div class="card-body">
          <h2 class="m-b-5">7200 <i class="ti-eye float-right"></i></h2>
          <div>PAGE VEWS</div>
          <div class="text-white m-t-5"><span>IOS</span><span class="m-l-10"><i class="fa fa-caret-up text-success"></i> 14%</span><span class="m-l-20">MAC</span><span class="m-l-10"><i class="fa fa-caret-down text-danger"></i> 9%</span></div>
        </div>
        <div class="progress m-b-10 widget-dark-progress">
          <div class="progress-bar" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-green">
        <div class="card-body">
          <h2 class="text-white m-b-5">$250 <i class="ti-stats-up float-right"></i></h2>
          <div>MONTH INCOME</div>
        </div>
        <div id="spark_5">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-purple">
        <div class="card-body">
          <h2 class="text-white m-b-5">$250 <i class="ti-stats-down float-right"></i></h2>
          <div>MONTH INCOME</div>
        </div>
        <div id="spark_6">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-blue">
        <div class="card-body">
          <h2 class="text-white m-b-5">$250 <i class="ti-stats-up float-right"></i></h2>
          <div>MONTH INCOME</div>
        </div>
        <div id="spark_7">Loading...</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 m-b-20">
      <div class="card border-0 bg-orange">
        <div class="card-body">
          <h2 class="text-white m-b-5">$250 <i class="ti-stats-down float-right"></i></h2>
          <div>MONTH INCOME</div>
        </div>
        <div id="spark_8">34, 43, 35, 44, 32, 15, 22, 33, 86, 54, 23, 65, 23, 63, 53, 42, 34, 54, 23, 44</div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div>
    <div class="social-widget social-widget-facebook m-r-20 m-b-20">
      <div class="social-widget-header"><i class="fa fa-facebook"></i></div>
      <div class="social-widget-count">10k</div>
    </div>
    <div class="social-widget social-widget-twitter m-r-20 m-b-20">
      <div class="social-widget-header"><i class="fa fa-twitter"></i></div>
      <div class="social-widget-count">12.4k</div>
    </div>
    <div class="social-widget social-widget-google m-r-20 m-b-20">
      <div class="social-widget-header"><i class="fa fa-google-plus"></i></div>
      <div class="social-widget-count">8k</div>
    </div>
    <div class="social-widget social-widget-linkedin m-r-20 m-b-20">
      <div class="social-widget-header"><i class="fa fa-linkedin"></i></div>
      <div class="social-widget-count">7k</div>
    </div>
    <div class="social-widget social-widget-pinterest m-r-20 m-b-20">
      <div class="social-widget-header"><i class="fa fa-pinterest-p"></i></div>
      <div class="social-widget-count">6k</div>
    </div>
    <div class="social-widget social-widget-vk m-b-20">
      <div class="social-widget-header"><i class="fa fa-vk"></i></div>
      <div class="social-widget-count">8k</div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">202</h2>
          <div class="text-muted m-b-20">NEW USERS</div><i class="ti-user widget-stat-icon text-success"></i>
          <div class="progress m-b-5">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between"><small>Progress</small><span class="text-success font-12"><i class="fa fa-level-up"></i> +24%</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">605</h2>
          <div class="text-muted m-b-20">NEW ORDERS</div><i class="ti-shopping-cart widget-stat-icon text-success"></i>
          <div class="progress m-b-5">
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between"><small>Progress</small><span class="text-warning font-12"><i class="fa fa-level-down"></i> -12%</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">$5800</h2>
          <div class="text-muted m-b-20">TOTAL INCOME</div><i class="la la-money widget-stat-icon text-success"></i>
          <div class="progress m-b-5">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between"><small>Progress</small><span class="text-success font-12"><i class="fa fa-level-up"></i> +33%</span></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">405</h2>
          <div class="text-muted m-b-20">PAGE VIEWS</div><i class="ti-eye widget-stat-icon text-success"></i>
          <div class="progress m-b-5">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%; height:5px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="d-flex justify-content-between"><small>Progress</small><span class="text-danger font-12"><i class="fa fa-level-down"></i> -22%</span></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">202</h2>
          <div class="text-muted">NEW USERS</div><i class="ti-user widget-stat-icon text-success"></i>
          <div class="m-t-5"><span class="text-success font-13 m-r-5"><i class="fa fa-level-up"></i> +35%</span><small>than last week</small></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">605</h2>
          <div class="text-muted">NEW ORDERS</div><i class="ti-shopping-cart widget-stat-icon text-success"></i>
          <div class="m-t-5"><span class="text-danger font-13 m-r-5"><i class="fa fa-level-down"></i> -12%</span><small>than last week</small></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">$5800</h2>
          <div class="text-muted">TOTAL INCOME</div><i class="la la-money widget-stat-icon text-success"></i>
          <div class="m-t-5"><span class="text-success font-13 m-r-5"><i class="fa fa-level-up"></i> +22%</span><small>than last week</small></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="ibox">
        <div class="ibox-body">
          <h2 class="m-b-5">405</h2>
          <div class="text-muted">PAGE VIEWS</div><i class="ti-eye widget-stat-icon text-success"></i>
          <div class="m-t-5"><span class="text-danger font-13 m-r-5"><i class="fa fa-level-up"></i> -17%</span><small>than last week</small></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="d-flex flex-wrap">
    <div class="static-widget bg-green"><i class="ti-user"></i>
      <h4 class="m-0">1,200</h4><small>USERS</small>
    </div>
    <div class="static-widget bg-red"><i class="ti-heart"></i>
      <h4 class="m-0">5,400</h4><small>LIKES</small>
    </div>
    <div class="static-widget bg-blue"><i class="ti-shopping-cart"></i>
      <h4 class="m-0">450</h4><small>ORDERS</small>
    </div>
    <div class="static-widget bg-ebony text-white"><i class="ti-gift"></i>
      <h4 class="m-0">34</h4><small>GIFTS</small>
    </div>
    <div class="static-widget bg-warning"><i class="ti-camera"></i>
      <h4 class="m-0">850</h4><small>PHOTOS</small>
    </div>
    <div class="static-widget bg-purple text-white"><i class="ti-paint-bucket"></i>
      <h4 class="m-0">47</h4><small>COLORS</small>
    </div>
    <div class="static-widget bg-silver"><i class="ti-bar-chart"></i>
      <h4 class="m-0">120</h4><small>CHARTS</small>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Statistics</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="easyPieChart easyPieChart-big centered m-t-20 m-b-20" data-percent="73" data-bar-color="#18C5A9"><span class="h3 font-strong line-height-inherit">73<sup>%</sup></span>
                <canvas height="120" width="120"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="m-b-20 text-success"><i class="ti-desktop m-r-10"></i>Desktop 52%</div>
              <div class="m-b-20 text-warning"><i class="ti-tablet m-r-10"></i>Tablet 27%</div>
              <div class="m-b-20 text-info"><i class="ti-mobile m-r-10"></i>Mobile 21%</div>
            </div>
          </div>
          <div class="d-flex justify-content-between m-b-20">
            <div>
              <div class="m-0 text-success h3">2400</div><small>PAGE VIEWS</small>
            </div>
            <div>
              <div class="m-0 text-success h3">$410<sup>.50</sup></div><small>MONTH INCOME</small>
            </div>
          </div>
        </div>
        <div class="p-t-5 p-b-5" style="background-color:#f3f6fb;">
          <canvas id="chart_5" style="height:100px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Statistics</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div class="row m-b-20">
            <div class="col-6 text-center" style="border-right: 1px solid rgba(0,0,0,.1);">
              <div class="text-muted">WEEK ORDERS</div>
              <div class="h2 text-success m-t-5">4700</div>
            </div>
            <div class="col-6 text-center">
              <div class="text-muted">WEEK SALES</div>
              <div class="h2 text-success m-t-5">1805</div>
            </div>
          </div>
          <div class="text-muted">Sales Growth</div>
          <div class="m-b-20"><span class="h1">+120</span><span class="text-muted m-l-5 m-r-5">Sales growth</span><span class="h2 text-warning">25<sup>%</sup></span><i class="ti-stats-up text-warning m-l-5 font-20"></i></div>
          <div class="text-muted">Orders Growth</div>
          <div><span class="h1">+480</span><span class="text-muted m-l-5">Higher from last week</span></div>
          <hr class="mt-4 mb-5">
          <div class="d-flex justify-content-between align-items-center">
            <div class="h1 text-success m-0">1200.50<sup>$</sup></div><a href="void:0"><i class="ti-arrow-circle-right font-20"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Chart title</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div class="h2 m-0">$12,400<sup>.60</sup><i class="ti-stats-up float-right text-success" style="font-size:40px;"></i></div>
          <div><small>Month income</small></div>
          <div class="m-t-20 m-b-20">
            <div class="h4 m-0">120%</div>
            <div class="d-flex justify-content-between"><small>Month income</small><span class="text-success font-12" style="font-size: 12px;"><i class="fa fa-level-up"></i> +24%</span></div>
            <div class="progress m-t-5">
              <div class="progress-bar progress-bar-success" role="progressbar" style="width:72%; height:5px;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="m-b-20">
            <div class="h4 m-0">$1420</div>
            <div class="d-flex justify-content-between"><small>Month income</small><span class="text-warning font-12" style="font-size: 12px;"><i class="fa fa-level-down"></i> -12%</span></div>
            <div class="progress m-t-5">
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width:33%; height:5px;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="m-b-20">
            <div class="h4 m-0">$1200</div>
            <div class="d-flex justify-content-between"><small>Month income</small><span class="text-danger font-12" style="font-size: 12px;"><i class="fa fa-level-down"></i> -22%</span></div>
            <div class="progress m-t-5">
              <div class="progress-bar progress-bar-danger" role="progressbar" style="width:54%; height:5px;" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Messages</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u1.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Jeanne <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u2.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Becky <small class="float-right text-muted">1 hrs ago</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u3.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Frank <small class="float-right text-muted">3 hrs ago</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy.</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u6.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Connor Perez <small class="float-right text-muted">Today</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img class="img-circle" src="./assets/img/users/u5.jpg" width="40px"/></a>
              <div class="media-body">
                <div class="media-heading">Bob Gonzalez <small class="float-right text-muted">Today</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Feeds</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media">
              <div class="media-img"><i class="ti-user font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading">New customer <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-info-alt font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading text-warning">Server Warning <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-announcement font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading">7 new feedback <small class="float-right text-muted">Today</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-check font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading text-success">Issue fixed <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-shopping-cart font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading">7 New orders <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
            <li class="media">
              <div class="media-img"><i class="ti-reload font-18 text-muted"></i></div>
              <div class="media-body">
                <div class="media-heading text-danger">Server warning <small class="float-right text-muted">12:05</small></div>
                <div class="font-13">Lorem Ipsum is simply dummy text.</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Tasks</div>
          <div class="ibox-tools"><a><i class="ti-plus"></i></a></div>
        </div>
        <div class="ibox-body">
          <ul class="list-group list-group-divider list-group-full tasks-list">
            <li class="list-group-item task-item">
              <div>
                <label class="ui-checkbox ui-checkbox-gray ui-checkbox-success">
                  <input type="checkbox" checked=""><span class="input-span"></span><span class="task-title">Send photos to Jack</span>
                </label>
              </div>
              <div class="task-data"><small class="text-muted">29 May 2018</small></div>
              <div class="task-actions"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"><i class="ti-pencil-alt m-r-10"></i>Edit</a><a class="dropdown-item"><i class="ti-close m-r-10"></i>Remove</a></div>
              </div>
            </li>
            <li class="list-group-item task-item">
              <div>
                <label class="ui-checkbox ui-checkbox-gray ui-checkbox-success">
                  <input type="checkbox"><span class="input-span"></span><span class="task-title">Create Financial Report</span>
                </label>
              </div>
              <div class="task-data"><small class="text-muted">No due date</small></div>
              <div class="task-actions"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"><i class="ti-pencil-alt m-r-10"></i>Edit</a><a class="dropdown-item"><i class="ti-close m-r-10"></i>Remove</a></div>
              </div>
            </li>
            <li class="list-group-item task-item">
              <div>
                <label class="ui-checkbox ui-checkbox-gray ui-checkbox-success">
                  <input type="checkbox" checked=""><span class="input-span"></span><span class="task-title">Meeting with Ann</span>
                </label><span class="badge badge-warning m-l-5"><i class="ti-alarm-clock"></i> 1 hrs</span>
              </div>
              <div class="task-data"><small class="text-muted">29 May 2018</small></div>
              <div class="task-actions"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"><i class="ti-pencil-alt m-r-10"></i>Edit</a><a class="dropdown-item"><i class="ti-close m-r-10"></i>Remove</a></div>
              </div>
            </li>
            <li class="list-group-item task-item">
              <div>
                <label class="ui-checkbox ui-checkbox-gray ui-checkbox-success">
                  <input type="checkbox"><span class="input-span"></span><span class="task-title">Edit the blog post</span>
                </label>
              </div>
              <div class="task-data"><small class="text-muted">29 May 2018</small></div>
              <div class="task-actions"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"><i class="ti-pencil-alt m-r-10"></i>Edit</a><a class="dropdown-item"><i class="ti-close m-r-10"></i>Remove</a></div>
              </div>
            </li>
            <li class="list-group-item task-item">
              <div>
                <label class="ui-checkbox ui-checkbox-gray ui-checkbox-success">
                  <input type="checkbox"><span class="input-span"></span><span class="task-title">Send message to Bob</span>
                </label><span class="badge badge-success m-l-5">Today</span>
              </div>
              <div class="task-data"><small class="text-muted">29 May 2018</small></div>
              <div class="task-actions"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"><i class="ti-pencil-alt m-r-10"></i>Edit</a><a class="dropdown-item"><i class="ti-close m-r-10"></i>Remove</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Chart title</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div class="text-center">
            <div class="easyPieChart easyPieChart-big centered m-t-20 m-b-20" data-percent="73" data-bar-color="#18C5A9" style="margin: 20px auto 20px;"><span class="h3 font-strong line-height-inherit">73<sup>%</sup></span></div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="m-0 text-success h3">120</div><small>month income</small>
            </div>
            <div>
              <div class="m-0 text-success h3">$410<sup>.50</sup></div><small>month income</small>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Statistics</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="easyPieChart easyPieChart-big centered m-t-20 m-b-20" data-percent="73" data-bar-color="#F39C12"><span class="h3 font-strong line-height-inherit">73<sup>%</sup></span>
                <canvas height="120" width="120"></canvas>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="easyPieChart easyPieChart-big centered m-t-20 m-b-20" data-percent="56" data-bar-color="#18C5A9"><span class="h3 font-strong line-height-inherit">56<sup>%</sup></span>
                <canvas height="120" width="120"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <div class="m-0 text-success h3">120</div><small>Data Example</small>
            </div>
            <div class="col-6 text-center">
              <div class="m-0 text-success h3">$410<sup>.50</sup></div><small>Data Example</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Visitors Analytics</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <div id="world-map" style="height: 300px;"></div>
          <table class="table table-striped m-t-20">
            <thead>
              <tr>
                <th>Country</th>
                <th>Visits</th>
                <th>Data</th>
                <th>Data</th>
                <th class="text-right" width="60px">Online</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>USA</td>
                <td>7,402</td>
                <td><span class="peity-bar">5,3,9,6,5,9,7,3,5,2</span></td>
                <td class="text-success"><i class="fa fa-level-up"></i> +25%</td>
                <td class="text-right">307</td>
              </tr>
              <tr>
                <td>Russia</td>
                <td>5,105</td>
                <td><span class="peity-bar">5,3,2,-1,-3,-2,2,3,5,2</span></td>
                <td class="text-warning"><i class="fa fa-level-down"></i> -12%</td>
                <td class="text-right">208</td>
              </tr>
              <tr>
                <td>Australia</td>
                <td>4,700</td>
                <td><span class="peity-bar">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span></td>
                <td class="text-success"><i class="fa fa-level-up"></i> +18%</td>
                <td class="text-right">150</td>
              </tr>
              <tr>
                <td>China</td>
                <td>4,650</td>
                <td><span class="peity-bar">5,3,9,6,5,9,7,3,5,2</span></td>
                <td class="text-success"><i class="fa fa-level-up"></i> +44%</td>
                <td class="text-right">422</td>
              </tr>
              <tr>
                <td>France</td>
                <td>3,800</td>
                <td><span class="peity-bar">5,3,2,-1,-3,-2,2,3,5,2</span></td>
                <td class="text-warning"><i class="fa fa-level-down"></i> -22%</td>
                <td class="text-right">109</td>
              </tr>
              <tr>
                <td>Germany</td>
                <td>3,780</td>
                <td><span class="peity-bar">4,3,-1,2,5,4,-2,-3,-2,3</span></td>
                <td class="text-success"><i class="fa fa-level-up"></i> +15%</td>
                <td class="text-right">202</td>
              </tr>
              <tr>
                <td>United Kingdom</td>
                <td>2,400</td>
                <td><span class="peity-bar">4,3,-1,-2,-2,2,5,4,3,1</span></td>
                <td class="text-success"><i class="fa fa-level-up"></i> +14%</td>
                <td class="text-right">178</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="ibox-title">Best Sellers</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/products/01.jpg" height="100px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a href="javascript:;">Product name</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Author: <a class="text-success" href="javascript:;">@Creative</a></span><span class="text-muted mr-4"><i class="fa fa-calendar mr-1"></i> 10.08.2018</span><span class="text-muted"><i class="fa fa-heart mr-1"></i> 56</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">1200</h3>
                  <div class="text-muted">sales</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/products/02.jpg" height="100px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a href="javascript:;">Product name</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Author: <a class="text-success" href="javascript:;">@Creative</a></span><span class="text-muted mr-4"><i class="fa fa-calendar mr-1"></i> 10.08.2018</span><span class="text-muted"><i class="fa fa-heart mr-1"></i> 56</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">1130</h3>
                  <div class="text-muted">sales</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/products/03.jpg" height="100px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a href="javascript:;">Product name</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Author: <a class="text-success" href="javascript:;">@Creative</a></span><span class="text-muted mr-4"><i class="fa fa-calendar mr-1"></i> 10.08.2018</span><span class="text-muted"><i class="fa fa-heart mr-1"></i> 56</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">980</h3>
                  <div class="text-muted">sales</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="ibox-title">Payment Systems</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/logos/payment/visa.png" width="60px"/></a>
              <div class="media-body">
                <div class="media-heading">Visa card 
                  <h4 class="font-strong float-right text-right">$1100</h4>
                </div>
                <p class="font-13">Lorem ipsum dolar set...</p>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/logos/payment/paypal.png" width="60px"/></a>
              <div class="media-body">
                <div class="media-heading">PayPal 
                  <h4 class="font-strong float-right text-right">$985</h4>
                </div>
                <p class="font-13">Lorem ipsum dolar set...</p>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/logos/payment/mastercard.png" width="60px"/></a>
              <div class="media-body">
                <div class="media-heading">MasterCard 
                  <h4 class="font-strong float-right text-right">$850</h4>
                </div>
                <p class="font-13">Lorem ipsum dolar set...</p>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/logos/payment/jcb.png" width="60px"/></a>
              <div class="media-body">
                <div class="media-heading">JCB 
                  <h4 class="font-strong float-right text-right">$690</h4>
                </div>
                <p class="font-13">Lorem ipsum dolar set...</p>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/logos/payment/eps.png" width="60px"/></a>
              <div class="media-body">
                <div class="media-heading">EPS 
                  <h4 class="font-strong float-right text-right">$520</h4>
                </div>
                <p class="font-13">Lorem ipsum dolar set...</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="ibox-title">New Posts</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/blog/macarons.jpg" width="120px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a routerLink="/article">Perfect Programming</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Created: <a class="text-success" href="javascript:;">10.08.2018</a></span><span class="text-muted mr-4"><i class="fa fa-heart mr-1"></i> 56</span><span class="text-muted"><i class="fa fa-comment mr-1"></i> 124</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">5800</h3>
                  <div class="text-muted">views</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/blog/magnifying-glass.jpg" width="120px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a routerLink="/article">Perfect Programming</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Created: <a class="text-success" href="javascript:;">10.08.2018</a></span><span class="text-muted mr-4"><i class="fa fa-heart mr-1"></i> 56</span><span class="text-muted"><i class="fa fa-comment mr-1"></i> 124</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">5240</h3>
                  <div class="text-muted">views</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/blog/seascape.jpg" width="120px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a routerLink="/article">Perfect Programming</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Created: <a class="text-success" href="javascript:;">10.08.2018</a></span><span class="text-muted mr-4"><i class="fa fa-heart mr-1"></i> 56</span><span class="text-muted"><i class="fa fa-comment mr-1"></i> 124</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">4780</h3>
                  <div class="text-muted">views</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/blog/candles.jpg" width="120px"></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading"><a routerLink="/article">Perfect Programming</a></h5>
                  <p class="font-13">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13"><span class="mr-4">Created: <a class="text-success" href="javascript:;">10.08.2018</a></span><span class="text-muted mr-4"><i class="fa fa-heart mr-1"></i> 56</span><span class="text-muted"><i class="fa fa-comment mr-1"></i> 124</span></div>
                </div>
                <div class="text-right" style="width:100px;">
                  <h3 class="mb-1 font-strong text-success">4200</h3>
                  <div class="text-muted">views</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="ibox-title">Best Tags</div>
          <div class="ibox-tools"><a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item">option 1</a><a class="dropdown-item">option 2</a></div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider m-0">
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/devicons/bootstrap.svg" width="40px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <div class="media-heading">Bootstrap</div>
                  <p class="font-13">Lorem ipsum dolar set...</p>
                </div>
                <div class="text-right" width="100px">
                  <h4 class="mb-1 font-strong">1200</h4>
                  <div class="text-muted">posts</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/devicons/angularjs.svg" width="40px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <div class="media-heading">AngularJS</div>
                  <p class="font-13">Lorem ipsum dolar set...</p>
                </div>
                <div class="text-right" width="100px">
                  <h4 class="mb-1 font-strong">1140</h4>
                  <div class="text-muted">posts</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/devicons/laravel.svg" width="40px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <div class="media-heading">Laravel</div>
                  <p class="font-13">Lorem ipsum dolar set...</p>
                </div>
                <div class="text-right" width="100px">
                  <h4 class="mb-1 font-strong">980</h4>
                  <div class="text-muted">posts</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/devicons/php.svg" width="40px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <div class="media-heading">PHP</div>
                  <p class="font-13">Lorem ipsum dolar set...</p>
                </div>
                <div class="text-right" width="100px">
                  <h4 class="mb-1 font-strong">745</h4>
                  <div class="text-muted">posts</div>
                </div>
              </div>
            </li>
            <li class="media"><a class="media-img" href="javascript:;"><img src="./assets/img/devicons/react.svg" width="40px"/></a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <div class="media-heading">ReactJS</div>
                  <p class="font-13">Lorem ipsum dolar set...</p>
                </div>
                <div class="text-right" width="100px">
                  <h4 class="mb-1 font-strong">620</h4>
                  <div class="text-muted">posts</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
