<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    <li routerLinkActive="active">
      <a href="javascript:;">
        <i class="sidebar-item-icon fa fa-th-large"></i>
        <span class="nav-label">Menu</span>
        <i class="fa fa-angle-left arrow"></i>
      </a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/request" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Request Management</a></li>
        <li><a routerLink="/waitingList" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Waiting List</a></li>
        <li><a routerLink="/dashboard_3" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Update Database</a></li>
        <li><a routerLink="/dashboard_4" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Analytics</a></li>
        <li><a routerLink="/calendar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Calander</a></li>
      </ul>
    </li>
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="fa fa-bullhorn"></i></a><a href="javascript:;"><i class="fa fa-calendar"></i></a><a href="javascript:;"><i class="fa fa-commenting"></i></a><a href="javascript:;"><i class="fa fa-power-off"></i></a></div>
</div>
