<div class="page-heading">
  <h1 class="page-title">FAQ</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">FAQ</li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="bg-white m-b-20" style="padding:15px;">
    <div class="input-group">
      <input class="form-control" placeholder="Search for...">
      <div class="input-group-btn">
        <button class="btn btn-info">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-info btn-block m-b-20" data-toggle="modal" data-target="#new-question-dialog"><i class="fa fa-plus"></i> Add question</button>
      <ul class="list-group list-group-divider faq-tabs">
        <li class="list-group-item"><a class="link-green active" href="#accordion-1" data-toggle="tab"><i class="fa fa-angle-right font-16 m-r-5"></i>General</a></li>
        <li class="list-group-item"><a class="link-green" href="#accordion-2" data-toggle="tab"><i class="fa fa-angle-right font-16 m-r-5"></i>Payment</a></li>
        <li class="list-group-item"><a class="link-green" href="#accordion-3" data-toggle="tab"><i class="fa fa-angle-right font-16 m-r-5"></i>Technical issues</a></li>
        <li class="list-group-item"><a class="link-green" href="#accordion-3" data-toggle="tab"><i class="fa fa-angle-right font-16 m-r-5"></i>Registration</a></li>
        <li class="list-group-item"><a class="link-green" href="#accordion-3" data-toggle="tab"><i class="fa fa-angle-right font-16 m-r-5"></i>Security</a></li>
      </ul>
    </div>
    <div class="col-md-9 tab-content">
      <div class="tab-pane fade active show panel-group faq-list" id="accordion-1">
        <div class="card border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq1">Question #1, Lorem Mauris in sem at quam vel.</a></div>
          <div class="collapse show" id="faq1">
            <div class="card-body">Aliquip fugiat dolor nulla velit commodo in aliquip aute reprehenderit officia elit nulla in est sunt consectetur quis ad labore nostrud cillum ullamco aute minim nisi labore excepteur exercitation et 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq2">Question #2, Neque porro quisquam ipsum quia</a></div>
          <div class="collapse" id="faq2">
            <div class="card-body">Cillum dolor id consectetur enim elit cillum magna voluptate dolor veniam esse sint mollit est ut officia non non ut duis ad nulla sint nostrud consectetur tempor tempor elit adipiscing 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq3">Question #3, Duis hendrerit tellus tellus quam.</a></div>
          <div class="collapse" id="faq3">
            <div class="card-body">Do dolor sit dolore occaecat ipsum ullamco reprehenderit qui adipiscing enim dolore ut eu do id labore nostrud id reprehenderit nulla irure sit quis ipsum sit ut sunt nisi in 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq4">Question #4, Proin dictum sem felis, eu.</a></div>
          <div class="collapse" id="faq4">
            <div class="card-body">Eiusmod exercitation magna ea non ea est veniam anim mollit ipsum voluptate ex occaecat nostrud in est dolore commodo ut est aliqua commodo dolore proident nisi labore minim tempor in 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq5">Question #5, Phasellus massa velit, sodales non nec.</a></div>
          <div class="collapse" id="faq5">
            <div class="card-body">Non dolor sit officia laboris ea ad id veniam laborum incididunt id aute aliquip commodo magna ut dolore eu proident nostrud exercitation sint ad tempor aliquip velit dolor adipiscing amet 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq6">Question #6, In ac imperdiet nulla. Proin interdum enim.</a></div>
          <div class="collapse" id="faq6">
            <div class="card-body">Proident excepteur culpa cillum aute anim adipiscing nulla consectetur aute commodo lorem voluptate eiusmod exercitation nostrud deserunt cupidatat laborum ut ea officia irure officia deserunt sed culpa sed cupidatat elit 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq7">Question #7, Morbi et lacus malesuada, cursus est.</a></div>
          <div class="collapse" id="faq7">
            <div class="card-body">Dolore aliquip ut duis et dolore nisi amet fugiat deserunt pariatur labore aliqua enim ut tempor anim dolore dolor laboris dolore minim laborum cupidatat ut anim officia nostrud laboris dolore 
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade panel-group faq-list" id="accordion-2">
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq2-1">Question #1, Lorem Mauris in sem at quam vel.</a></div>
          <div class="collapse show" id="faq2-1">
            <div class="card-body">Esse anim ut ut qui dolor quis occaecat ipsum cupidatat voluptate laboris duis non mollit ut quis incididunt ex dolor ullamco ipsum aliqua ad id culpa voluptate est anim dolore 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq2-2">Question #2, Neque porro quisquam ipsum quia</a></div>
          <div class="collapse" id="faq2-2">
            <div class="card-body">Do veniam laborum in sit ut elit dolore minim tempor anim voluptate sint esse dolor in labore dolore consequat et consectetur quis nisi elit ut in eu aliqua elit do 
            </div>
          </div>
        </div>
        <div class="card m-t-5 border-0">
          <div class="card-header"><a class="font-strong link-blue" data-toggle="collapse" href="#faq2-3">Question #3, Duis hendrerit tellus tellus quam.</a></div>
          <div class="collapse" id="faq2-3">
            <div class="card-body">Reprehenderit sed consectetur in commodo dolor eiusmod laborum occaecat quis laboris labore culpa ex veniam ut veniam magna cillum culpa nisi sunt sed elit labore anim dolore sint aliquip reprehenderit 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New question dialog-->
  <div class="modal fade" id="new-question-dialog" aria-labelledby="new-question-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content">
        <div class="modal-header bg-silver-100">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h5 class="modal-title">New question</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Question</label>
            <input class="form-control" type="text" placeholder="question">
          </div>
          <div class="form-group">
            <label>Answer</label>
            <textarea class="form-control" placeholder="answer of the question" rows="4"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
          <button class="btn btn-info" type="button">Add event</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End New question dialog-->
</div>
