<div class="page-heading">
  <h1 class="page-title">E-commerce Products board</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">E-commerce Products board</li>
  </ol>
</div>
<div class="page-content fade-in-up">
  <div class="row products-board">
    <div class="col-lg-3 col-sm-6">
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
      <div class="card"><img src="./assets/img/image.png"/>
        <div class="card-body"><a class="product-name" href="javascript:;">Product name</a>
          <div class="product-price">$240.00</div>
          <div class="m-t-10 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-info btn-rounded"><i class="fa fa-shopping-cart font-16"></i> Add to cart</button><a class="text-muted"><i class="fa fa-heart-o font-16"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
